// these contain all CSS overrides for our work.
// jdkunesh

.menu, .projects-menu {}

 .card-tags, .portfolio-tags {  
  font-family: $title_font;
  font-variant-caps: small-caps;
//  text-transform: uppercase;
//  font-weight: 900;

    a {
    
//    text-decoration: none;

    }

}

h1 {
    font-variant-caps: small-caps;
}

.portfolio-item__title {
//    font-variant-caps: small-caps;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.logo {
  width: 50%;
}

a {
//    :hover {
//        color: #fff;
//   }
}