---
layout: default
---

<section class="intro">
  <div class="wrap">
    {% assign cover_photo = page.photos.last %}
    {% if cover_photo %}
      <img src="/images/wa-project-photos/{{ page.ref }}/{{ cover_photo.url }}" alt="{{ cover_photo.alt_text }}" class="portfolio-cover-photo">
    {% endif %}
    <h1>{{ page.title }}</h1>
    <p>{{ page.subtitle }}</p>
    <p class="portfolio-tags">
      {% for category in page.categories %}
      <a href="/{{ category }}/">{{ category }}</a>{% if category !=
      page.categories.last %}, {% endif %}{% endfor %}
    </p>
  </div>
</section>

<section>
    {% assign logo = page.client_logo.first %}
    {% if logo %}
      <img src="/images/wa-project-logos/{{ logo.url }}" alt="{{ logo.alt_text }}">
    {% endif %}
  <div class="wrap">{{ page.description }}

    {% assign project_sheet = page.project_sheet.first %}
    {% if project_sheet %}
      <p><a href="{{site.url}}/downloads/{{ project_sheet.url }}"/>{{ project_sheet.link_text }}</a></p>
    {% endif %}
  </div>


  <div class="wrap">{{ page.content }}</div>
</section>

<section>
  <div class="wrap">
    <div class="gallery" data-columns="1">
      {% for photo in page.photos %}
        <img src="/images/wa-project-photos/{{ page.ref }}/{{ photo.url }}" alt="{{ photo.alt_text }}">
      {% endfor %}
    </div>
  </div>
</section>

