---
layout: default
---

    {% assign cover_photo = page.photos.last %}
      {% if cover_photo %}
      <img src="/images/wa-project-photos/{{ page.ref }}/{{ cover_photo.url }}" alt="{{ cover_photo.alt_text }}" class="portfolio-cover-photo">
    {% endif %}

<section class="intro">
  <div class="wrap">
    <h1>{{ page.title }}</h1>
    <p>{{ page.subtitle }}</p>
    <p class="portfolio-tags">
      {% for category in page.categories %}
      <a href="/{{ category }}">{{ category }}</a>{% if category !=
      page.categories.last %}, {% endif %}{% endfor %}
    </p>
  <p>{{ page.description }}</p>

  {% assign project_sheet = page.project_sheet.first %}
    {% if project_sheet %}
      <p><a href="/downloads/{{ project_sheet.url }}"/>Download project sheet (PDF)</a></p>
    {% endif %}
  </div>
</section>
<section class="single">
  <div class="wrap">
    <h2>Client</h2>
    {% assign logo = page.client_logo.first %}
    {% if logo %}
      <img src="/images/wa-project-logos/{{ logo.url }}" alt="{{ logo.alt_text }}" class="center">
    {% endif %}
  <p>{{ page.client }}</p>
  </div>
</section>





<section>
  <div class="wrap">
    <div class="gallery" data-columns="3">
      {% for photo in page.photos %}
        <img src="/images/wa-project-photos/{{ page.ref }}/{{ photo.url }}" alt="{{ photo.alt_text }}">
      {% endfor %}
    </div>
  </div>
</section>

<section>
  <div class="wrap">{{ page.content }}</div>
</section>

